body {
    background-color: rgba(66, 63, 63, 0.8);
}
td{
    text-align: center;
    width: 50px;
    height: 50px;
}
button{
    text-align: center;
    border-radius: 35px;
    width: 40px;

}
button:hover{
    background-color: white;
}
.extra{
    background-color: rgb(192,192,192);
}
.operator{
    background-color: orange;
}
.numeros{
    background-color:rgba(0, 0, 0,0.1)
}